<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1>hello world </h1>
    <form action="">
        <img src="" alt="">
        <label for="">Name</label>
        <input type="text" name="" id="">
        <p>Coffee</p>
        <label for="">password</label>
        <input type="text" name="" id="">
        <p>Bread</p>
    </form>

    <sidebar>
        <ul>
            <li>dashboard</li>
            <li>dashboard</li>
            <li>dashboard</li>
            <li>dashboard</li>
            <button>submit</button>
        </ul>
    </sidebar>
    <div class="catagory">
        <div class="image-banner">
            <img src="#" alt="">
        </div>
    </div>


</body>

</html>